<html>
  <head></head>
  <body>
    <p>Your Favourite Show is about to start</p>
    <p>
      Show Details<br>
      -------------------------------
    </p> 
    <p>Title: <%= @show.title%></p>
    <p>Description: <%= @show.description%></p>
    <p>Timings: <%= @show.airtime%></p>
    <p>Channel: <%= @show.channel.name%></p>
      ---------------------------------------
  </body>
</html>